<%= form_for(object) do |f| %>
  <div class="box-body">
    <div class="form-group <%= error_class(object, :list_of_ratings_execution_of_work_id)%>">
      <label>
        DP3
        <%= error_messages(object, :list_of_ratings_execution_of_work_id) %>
      </label>
      <%= f.collection_select(
            :list_of_ratings_execution_of_work_id,
            ListOfRatingsExecutionOfWork.completed, :id, :id,
            { include_blank: true },
            { class: "form-control" }
          ) %>
    </div>
    <div class="form-group <%= error_class(object, :rank_of_lecturer_id)%>">
      <label>
        Pangat Baru
        <%= error_messages(object, :rank_of_lecturer_id) %>
      </label>
      <%= f.collection_select(
            :rank_of_lecturer_id,
            RankOfLecturer.all, :id, :name,
            { include_blank: true },
            { class: "form-control" })
          %>
    </div>
    <div class="form-group <%= error_class(object, :decision_letter_number)%>">
      <label>
        No SK Kenaikan Pangkat
        <%= error_messages(object, :decision_letter_number) %>
      </label>
      <%= f.text_field :decision_letter_number, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :submissions_preferment_date)%>">
      <label>
        Tanggal Pengajuan Kenaikan Pangat
        <%= error_messages(object, :submissions_preferment_date) %>
      </label>
      <%= f.date_field :submissions_preferment_date, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :preferment_date)%>">
      <label>
        Tanggal Kenaikan Pangat
        <%= error_messages(object, :preferment_date) %>
      </label>
      <%= f.date_field :preferment_date, class: "form-control" %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>