<%= form_for(object) do |f| %>
  <div class="box-body">
    <div class="form-group <%= error_class(object, :assessor_id)%>">
      <label>
        Atasan Penilai
        <%= error_messages(object, :assessor_id) %>
      </label>
      <%= f.collection_select(
            :assessor_id,
            Assessor.active, :id, :name,
            { include_blank: true },
            {class: "form-control"}
          ) %>
    </div>
    <div class="form-group <%= error_class(object, :assessment_result_id)%>">
      <label>
        Penilaian Dosen
        <%= error_messages(object, :assessment_result_id) %>
      </label>
      <%= f.collection_select(
            :assessment_result_id,
            AssessmentResult.completed, :id, :code,
            { include_blank: true },
            {class: "form-control"}
          ) %>
    </div>
    <div class="form-group <%= error_class(object, :objection)%>">
      <label>
        Keberatan
        <%= error_messages(object, :objection) %>
      </label>
      <%= f.text_area :objection, rows: 3, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :objection_date)%>">
      <label>
        Tanggal Keberatan
        <%= error_messages(object, :objection_date) %>
      </label>
      <%= f.date_field :objection_date, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :response)%>">
      <label>
        Tanggapan
        <%= error_messages(object, :response) %>
      </label>
      <%= f.text_area :response, rows: 3, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :response_date)%>">
      <label>
        Tanggal Tanggapan
        <%= error_messages(object, :response_date) %>
      </label>
      <%= f.date_field :response_date, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :decision)%>">
      <label>
        Keputusan
        <%= error_messages(object, :decision) %>
      </label>
      <%= f.text_area :decision, rows: 3, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :decision_date)%>">
      <label>
        Tanggal Keputusan
        <%= error_messages(object, :decision_date) %>
      </label>
      <%= f.date_field :decision_date, class: "form-control" %>
    </div>
  </div>

  <div class="box-footer">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>