<%= form_for(object) do |f| %>
  <div class="box-body">
    <div class="form-group <%= error_class(object, :lecturer_id)%>">
      <label>
        Dosen
        <%= error_messages(object, :lecturer_id) %>
      </label>
      <%= f.collection_select(
            :lecturer_id,
            Lecturer.active, :id, :name,
            { include_blank: true },
            { class: "form-control" }
          ) %>
    </div>
    <div class="form-group <%= error_class(object, :assessor_id)%>">
      <label>
        Penilai
        <%= error_messages(object, :assessor_id) %>
      </label>
      <%= f.collection_select(
            :assessor_id,
            Assessor.active, :id, :name,
            { include_blank: true },
            { class: "form-control" }) %>
    </div>
    <div class="form-group <%= error_class(object, :start_date)%>">
      <label>
        Tanggal Awal Penilaian
        <%= error_messages(object, :start_date) %>
      </label>
      <%= f.date_field :start_date, class: "form-control" %>
    </div>
    <div class="form-group <%= error_class(object, :end_date)%>">
      <label>
        Tanggal Akhir Penilaian
        <%= error_messages(object, :end_date) %>
      </label>
      <%= f.date_field :end_date, class: "form-control" %>
    </div>

    <%= f.fields_for :assessment_result_lines do |builder| %>
      <%= render 'assessment_result_line_fields', f: builder  %>
    <% end %>
  </div>

  <div class="box-footer">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>