<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="dataTables_filter" id="example_filter">
            <label>Search: <input type="text" aria-controls="example"></label>
          </div>

          <div class="clearfix"></div>

          <% @object.each do |obj| %>
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
              <div class="well profile_view">
                <div class="col-sm-12">
                <h4 class="brief"><i><%= obj.name %></i></h4>
                  <div class="left col-xs-7">
                    <ul class="list-unstyled">
                      <li><%= obj.registration_number_of_employees %></li>
                      <li><%= obj.link_to_rank_of_lecturer %></li>
                      <li><%= obj.state_with_color %></li>
                    </ul>
                  </div>
                  <div class="right col-xs-5 text-center">
                    <%= image_tag("images/user.png", alt: "...", class: "img-circle img-responsive") %>
                  </div>
                </div>
                <div class="col-xs-12 bottom text-center">
                  <div class="col-xs-12 col-sm-6 emphasis pull-right">
                    <%= link_to(obj, html_options = {class: "btn btn-primary btn-xs pull-right"}) do %>
                      <i class="fa fa-user"></i> View Profile
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>