<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <%= decorated_object.link_to_new %>
        <div class="clearfix"></div>
      </div>

      <div class="x_content">
        <div id="example_wrapper" class="dataTables_wrapper" role="grid">
          <div class="dataTables_filter" id="example_filter">
            <label>Search: <input type="text" aria-controls="example"></label>
          </div>

          <table class="table table-striped responsive-utilities jambo_table dataTable" aria-describedby="example_info">
            <thead>
              <% if index_data.present? %>
                <tr class="headings" role="row">
                  <% index_data.first.each do |obj| %>
                    <th role="columnheader">
                      <%= obj[:title] %>
                    </th>
                  <% end %>
                </tr>
              <% end %>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <% index_data.each_with_index do |obj, index| %>
                <tr class="pointer">
                  <% obj.each_with_index do |data, index| %>
                    <% if obj.size == index+1 %>
                      <td class=" last "><%= data[:value] %></td>
                    <% else %>
                      <td><%= data[:value] %></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>

          <%= paginate object %>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>
</div>