<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
          <%= object.action %>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <br>
          <div class="form-horizontal form-label-left">
            <% object.show_data.each do |data| %>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                  <%= data[:title] %>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <label class="control-label">
                    <%= data[:value] %>
                  </label>
                </div>
              </div>
            <% end %>
          </div>

          <br>
          <% if object.try(:show_lines_data).present? %>
            <table class="table table-striped responsive-utilities jambo_table dataTable" aria-describedby="example_info">
            <thead>
              <tr class="headings" role="row">
                <% object.show_lines_data[:header_data].each do |data| %>
                  <th role="columnheader">
                    <%= data[:title] %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
              <% object.show_lines_data[:body_data].each do |data| %>
                <tr class="pointer">
                  <% object.show_lines_data[:header_data].each do |header| %>
                    <td><%= data[header[:key]]%></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <% end%>
        </div>
    </div>
  </div>
</div>