<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <%= set_sidebar title: 'Home', url: root_path, controller: 'home' %>
        <%= set_sidebar title: 'Fakultas', url: faculties_path %>
        <%= set_sidebar title: 'Program Studi', url: study_programs_path %>
        <%= set_sidebar title: 'Pangkat / Golongan', url: rank_of_lecturers_path %>
        <%= set_sidebar title: 'Penilai', url: assessors_path %>
        <%= set_sidebar title: 'Dosen', url: lecturers_path %>
        <%= set_sidebar title: 'Waktu Penilaian', url: assessment_ranges_path %>
        <%= set_sidebar title: 'Bobot Penilain', url: percentage_assessments_path %>
        <%= set_sidebar title: 'Penilain', url: assessment_results_path %>
        <%= set_sidebar title: 'Daftar Penilaian Pelaksanaan Pekerjaan (DP3)', url: list_of_ratings_execution_of_works_path %>
        <%= set_sidebar title: 'Kenaikan Pangkat', url: preferments_path %>
        <%= set_sidebar title: 'Kenaikan Pangkat Berkala', url: periodic_preferments_path %>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %></li>
      </ul>
    </section>
  </aside>